/* default, no feature */
.nt
{
	background-color: #BBBBBB;
}

.gene
{
	background-color: #C3EEFF;
}

.exon
{
	background-color: green;
	color: white;
}

.mismatch
{
	background-color: red;
	color: white;
}

.gap
{
	background-color: white;
	color: black;
}
